---
import Layout from "../layouts/Layout.astro";
import PParte from "../components/PParte.astro";
---

<Layout title="James WEB | Informacion">
  <main>
    <PParte />
  </main>
</Layout>

<style >
  
</style>
