---
import IMG from "/public/imgs/image1.avif";
---

<div class="container">
  <h2>Que es James WEB ?</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat voluptatum
    modi, ducimus, laboriosam vitae impedit explicabo, accusamus quis libero
    incidunt delectus dicta consequuntur esse. Excepturi, sunt possimus delectus
    sint, perferendis numquam vero commodi tempora illum molestias atque
    veritatis, distinctio ipsa fugit vel quidem provident? Officia, assumenda
    architecto corporis totam voluptatum facere? Amet, est voluptate. Vel
    repudiandae, quas enim nam eos, eligendi ea neque, laudantium dolores vero
    voluptatum dolore modi. Sit porro, vel illo vitae tempore doloribus,
    quibusdam, laborum officia eveniet nihil similique! Quo, deserunt assumenda
    dicta incidunt omnis obcaecati, quidem dolor eligendi quas sequi amet
    reiciendis culpa vitae ratione ducimus.
  </p>
  <img class="img" src={IMG.src} alt="JAME WEB" />
</div>

<style>
  .img {
    position: absolute;
    margin-left: 700px;
    margin-top: -420px;
    height: 540px;
  }
  h2 {
    color: white;
  }
  .container {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
  }
  p {
    color: rgb(187, 187, 187);
    max-width: 500px;
  }
</style>
